.lp {
    min-height: 50rem;
    background-image: url("../../public/images/lp.png");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;

    .content {
        color: white;
        display: grid;
        align-items: center;
        height: 50rem;

        .main-content {
            height: 37rem;
            width: 50%;
            display: grid;
            line-height: 2.5rem;
        }

        .title {
            color: #dc2727;
            font-size: 2.5rem;
            font-weight: 900;
        }

        .sub-title {
            font-size: 1.5rem;
        }

        .list {
            font-size: 1.3rem;
            line-height: 3rem;

            li::before {
                content: "\2022";
                color: #dc2727;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: 0;
                font-size: 1.5rem;
            }
        }

        .downlod-tip {
            color: rgb(201, 201, 201);
        }

        .download-box {
            display: flex;
            img{
                width: 12rem;
                height: auto;
            }
            .each-download {
                margin-left: 3rem;
                height: max-content;
                padding: 0.5rem 1rem;
                border-radius: 0.4rem;
                display: flex;
                transition: 0.3s;
                cursor: pointer;

                .icon {
                    padding-left: 1rem;
                }

            }
        }
    }

    @media(max-width: 500px) {
        background-size: 300% 100%;
        min-height: unset;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/images/lp.png');

        .content {
            height: max-content;

            .title {
                font-size: 2rem;
            }

            .sub-title {
                font-size: 1rem;
                margin: 1rem 0;
            }

            .main-content {
                height: max-content;
                width: 90%;
                padding: 2rem 1rem;
                line-height: 2rem;

                .list {
                    font-size: 1rem;
                }
            }

            .download-box {
                margin: 1rem 0;

                .each-download {
                    margin-left: 0.3rem;
                    padding: 0.2rem 0.4rem;
                }
            }
        }

    }
}